In [19]:
from sqlalchemy import create_engine
import pandas as pd

pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [20]:
#Creamos la base de datos de ultratrail

str_conn='mysql+pymysql://root:root@localhost:3306'

cursor=create_engine(str_conn)


cursor.execute('drop database if exists ultratrailv2;')

cursor.execute('create database ultratrailv2;')

In [21]:
#Creamos enlace directo a la BD

str_conn='mysql+pymysql://root:root@localhost:3306/ultratrailv2'

cursor=create_engine(str_conn)

In [22]:
#Cogemos y subimos los csvs y los excel generales en la base de datos 

#Listado de carreras
carreras=pd.read_csv('../data/carreras.csv')
carreras.to_sql(name='carreras', con=cursor, if_exists='replace', index=False)

#Listado de corredores
corredores=pd.read_excel('../data/corredores.xlsx')
corredores.to_sql(name='corredores', con=cursor, if_exists='replace', index=False)

#Listado de paises
paises=pd.read_excel('../data/paises_global.xlsx')
paises.to_sql(name='paises', con=cursor, if_exists='replace', index=False)

254

In [23]:
#Cogemos y subimos los csvs y los excel bluetrail en la base de datos

#Bluetrail17
blue17=pd.read_csv('../data/bluetrail/bluetrail17mod.csv')
blue17.to_sql(name='bluetrail17', con=cursor, if_exists='replace', index=False)

#Bluetrail18
blue18=pd.read_csv('../data/bluetrail/bluetrail18mod.csv')
blue18.to_sql(name='bluetrail18', con=cursor, if_exists='replace', index=False)

#Bluetrail19
blue19=pd.read_csv('../data/bluetrail/bluetrail19mod.csv')
blue19.to_sql(name='bluetrail19', con=cursor, if_exists='replace', index=False)

#Bluetrail21
blue21=pd.read_csv('../data/bluetrail/bluetrail21mod.csv')
blue21.to_sql(name='bluetrail21', con=cursor, if_exists='replace', index=False)

#Bluetrail12
blue22=pd.read_csv('../data/bluetrail/bluetrail22mod.csv')
blue22.to_sql(name='bluetrail22', con=cursor, if_exists='replace', index=False)

183

In [24]:
#Cogemos y subimos los csvs y los excel Haria Extreme en la base de datos

#Haria_Extreme17
haria17=pd.read_csv('../data/haria/haria17mod.csv')
haria17.to_sql(name='haria_extreme17', con=cursor, if_exists='replace', index=False)

#Haria_Extreme18
haria18=pd.read_csv('../data/haria/haria18mod.csv')
haria18.to_sql(name='haria_extreme18', con=cursor, if_exists='replace', index=False)

#Haria_Extreme19
haria19=pd.read_csv('../data/haria/haria19mod.csv')
haria19.to_sql(name='haria_extreme19', con=cursor, if_exists='replace', index=False)

159

In [25]:
#Cogemos y subimos los csvs y los excel Maraton del Meridiano en la base de datos

#Maraton del Meridiano17
meridiano17=pd.read_csv('../data/meridiano/meridano2017mod.csv')
meridiano17.to_sql(name='meridiano17', con=cursor, if_exists='replace', index=False)

#Maraton del Meridiano18
meridiano18=pd.read_csv('../data/meridiano/meridano2018mod.csv')
meridiano18.to_sql(name='meridiano18', con=cursor, if_exists='replace', index=False)

#Maraton del Meridiano19
meridiano19=pd.read_csv('../data/meridiano/meridano2019mod.csv')
meridiano19.to_sql(name='meridiano19', con=cursor, if_exists='replace', index=False)

#Maraton del Meridiano20
meridiano20=pd.read_csv('../data/meridiano/meridano2020mod.csv')
meridiano20.to_sql(name='meridiano20', con=cursor, if_exists='replace', index=False)

380

In [26]:
#Cogemos y subimos los csvs y los excel Transvulcania en la base de datos

#Transvulcania 17
vulca17=pd.read_csv('../data/transvulcania/transvulcania_2017mod.xlsx')
vulca17.to_sql(name='transvulcania17', con=cursor, if_exists='replace', index=False)

#Transvulcania 18
vulca18=pd.read_csv('../data/transvulcania/transvulcania_2018mod.xlsx')
vulca18.to_sql(name='transvulcania18', con=cursor, if_exists='replace', index=False)

#Transvulcania 19
vulca19=pd.read_csv('../data/transvulcania/transvulcania_2019mod.xlsx')
vulca19.to_sql(name='transvulcania19', con=cursor, if_exists='replace', index=False)

#Transvulcania 22
vulca22=pd.read_csv('../data/transvulcania/transvulcania_2022mod.xlsx')
vulca22.to_sql(name='transvulcania22', con=cursor, if_exists='replace', index=False)

869

In [27]:
#Cogemos y subimos los csvs y los excel UTMB en la base de datos

#UTMB 17
utmb17=pd.read_csv('../data/utmb/utmb2017mod.csv')
utmb17.to_sql(name='utmb17', con=cursor, if_exists='replace', index=False)

#UTMB 18
utmb18=pd.read_csv('../data/utmb/utmb2018mod.csv')
utmb18.to_sql(name='utmb18', con=cursor, if_exists='replace', index=False)

#UTMB 19
utmb19=pd.read_csv('../data/utmb/utmb2019mod.csv')
utmb19.to_sql(name='utmb19', con=cursor, if_exists='replace', index=False)

#UTMB 20
utmb20=pd.read_csv('../data/utmb/utmb2020mod.csv')
utmb20.to_sql(name='utmb20', con=cursor, if_exists='replace', index=False)

#UTMB 21
utmb21=pd.read_csv('../data/utmb/utmb2021mod.csv')
utmb21.to_sql(name='utmb21', con=cursor, if_exists='replace', index=False)

#UTMB 22
utmb22=pd.read_csv('../data/utmb/utmb2022mod.csv')
utmb22.to_sql(name='utmb22', con=cursor, if_exists='replace', index=False)

1789