In [1]:
import pandas as pd
import numpy as np
import re
import io
import warnings
import generador
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
warnings.filterwarnings('ignore')

In [2]:
#Haria17

In [3]:
out_file = io.StringIO()

with open('../data/haria/haria2017.csv', encoding='utf8') as file:
    out_file.write(file.read().replace('""', '|').replace('"', ""))

out_file.seek(0)

haria17 = pd.read_csv(out_file, delimiter = ',', quotechar='|')

In [4]:
columns=['posicion', 'tiempo', 'nombre','link','pais','sex','rango_edad','otros']
haria17.set_axis(columns,axis='columns', inplace='True')   #modificamos los nombres de columnas

haria17.drop(['link','otros'],axis='columns',inplace=True)  #damos de baja columnas

In [5]:
haria17.tail()

,posicion,tiempo,nombre,pais,sex,rango_edad
276,DNF,-,Cesar-Alberto FERNANDEZ-PEREZ,España,hombres,40-44
277,DNF,-,Andrew MCPHERSON,Reino Unido,hombres,40-44
278,DNF,-,Mark GIBSON,Reino Unido,hombres,40-44
279,DNF,-,Maria-Del Pino NUÑEZ-RAMOS,España,mujeres,40-44
280,DNF,-,Angel RODRIGUEZ-PADILLA,España,hombres,50-54

In [6]:
#creamos una columna de categoria en base a los rangos de edad y la colocamos
#Aprovechamos y normalizamos tb el sexo
haria17['cat']=haria17['rango_edad']

for i in range(len(haria17.rango_edad)):
    if haria17.rango_edad[i]=='20-34' or haria17.rango_edad[i]=='35-39':
        haria17.cat[i]='SENIOR'
    elif haria17.rango_edad[i]=='40-44' or haria17.rango_edad[i]=='45-49':
        haria17.cat[i]='VET-A'
    elif haria17.rango_edad[i]=='50-54' or haria17.rango_edad[i]=='55-59':
        haria17.cat[i]='VET-B'
    else:
        haria17.cat[i]='VET-C'
        

    if haria17.sex[i]=='hombres':
        haria17.sex[i]='M'
    elif haria17.sex[i]=='mujeres':
        haria17.sex[i]='F'   
        

#Cambiar DNF por 999

    if haria17.posicion[i]=='DNF':
        haria17.posicion[i]=999
        
        
        
#Quitar guión de tiempo ULTIMA MODIFICACION    
    
    if haria17.tiempo[i]=='-':
        haria17.tiempo[i]='00:00:00'
        
haria17=haria17.reindex(columns=['posicion','tiempo','nombre','pais','sex','cat','rango_edad'])

haria17.cat.unique()

array(['SENIOR', 'VET-A', 'VET-B', 'VET-C'], dtype=object)

In [7]:
haria17.tail()

,posicion,tiempo,nombre,pais,sex,cat,rango_edad
276,999,00:00:00,Cesar-Alberto FERNANDEZ-PEREZ,España,M,VET-A,40-44
277,999,00:00:00,Andrew MCPHERSON,Reino Unido,M,VET-A,40-44
278,999,00:00:00,Mark GIBSON,Reino Unido,M,VET-A,40-44
279,999,00:00:00,Maria-Del Pino NUÑEZ-RAMOS,España,F,VET-A,40-44
280,999,00:00:00,Angel RODRIGUEZ-PADILLA,España,M,VET-B,50-54

In [8]:
#Normalizamos formato de campos de las columnas añadiendo la configuración final para todas las tablas

haria17.drop(['rango_edad'],axis='columns',inplace=True) #damos de baja columnas

#Generamos las columnas restanetes
haria17['dif']=generador.dif(len(haria17))
haria17['club']=generador.generador(len(haria17))
haria17['anio']=generador.anio(len(haria17),'2017')

haria17['carrera']=generador.carrera(len(haria17),'haria')

haria17=haria17.reindex(columns=['posicion','tiempo','dif','nombre','club','pais','sex','cat','carrera','anio']) #Reorganizamos

haria17.dropna(inplace=True)

haria17.reset_index(drop=True,inplace=True)

haria17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   posicion  280 non-null    object
 1   tiempo    280 non-null    object
 2   dif       280 non-null    object
 3   nombre    280 non-null    object
 4   club      280 non-null    object
 5   pais      280 non-null    object
 6   sex       280 non-null    object
 7   cat       280 non-null    object
 8   carrera   280 non-null    object
 9   anio      280 non-null    object
dtypes: object(10)
memory usage: 22.0+ KB

In [9]:
haria17.to_csv('../data/haria/haria17mod.csv', index='False', index_label=False)   #cargamos el csv

#haria18

In [10]:
out_file = io.StringIO()

with open('../data/haria/haria2018.csv', encoding='utf8') as file:
    out_file.write(file.read().replace('""', '|').replace('"', ""))

out_file.seek(0)

haria18 = pd.read_csv(out_file, delimiter = ',', quotechar='|')

In [11]:
columns=['posicion', 'tiempo', 'nombre','link','pais','sex','rango_edad','otros']
haria18.set_axis(columns,axis='columns', inplace='True')    #modificamos los nombres de columnas

haria18.drop(['link','otros'],axis='columns',inplace=True)  #damos de baja columnas

In [12]:
#creamos una columna de categoria en base a los rangos de edad y la colocamos
haria18['cat']=haria18['rango_edad']

for i in range(len(haria18.rango_edad)):
    if haria18.rango_edad[i]=='20-34' or haria18.rango_edad[i]=='35-39':
        haria18.cat[i]='SENIOR'
    elif haria18.rango_edad[i]=='40-44' or haria18.rango_edad[i]=='45-49':
        haria18.cat[i]='VET-A'
    elif haria18.rango_edad[i]=='50-54' or haria18.rango_edad[i]=='55-59':
        haria18.cat[i]='VET-B'
    else:
        haria18.cat[i]='VET-C'
    
    #Aprovechamos y normalizamos tb el sexo    
    if haria18.sex[i]=='hombres':
        haria18.sex[i]='M'
    elif haria18.sex[i]=='mujeres':
        haria18.sex[i]='F'  
        
    
        
    #Quitar guión de posicion y tiempo ULTIMA MODIFICACION    
    if haria18.posicion[i]=='DNF':  
        haria18.posicion[i]=999
    
        
    if haria18.tiempo[i]=='-':
        haria18.tiempo[i]='00:00:00'
        
haria18=haria18.reindex(columns=['posicion','tiempo','nombre','pais','sex','cat','rango_edad'])

haria18.cat.unique()

array(['SENIOR', 'VET-A', 'VET-B', 'VET-C'], dtype=object)

In [13]:
haria18=haria18.drop(haria18[haria18.posicion=='Clasificación'].index)  ##limpiamos una fila errona que hay

In [14]:
#Normalizamos formato de campos de las columnas añadiendo la configuración final para todas las tablas

haria18.drop(['rango_edad'],axis='columns',inplace=True) #damos de baja columnas

#Generamos las columnas restanetes
haria18['dif']=generador.dif(len(haria18))
haria18['club']=generador.generador(len(haria18))
haria18['carrera']=generador.carrera(len(haria18),'haria')
haria18['anio']=generador.anio(len(haria18),'2018')

haria18=haria18.reindex(columns=['posicion','tiempo','dif','nombre','club','pais','sex','cat','carrera','anio']) #Reorganizamos

haria18.dropna(inplace=True)

haria18.reset_index(drop=True, inplace=True)

haria18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   posicion  127 non-null    object
 1   tiempo    127 non-null    object
 2   dif       127 non-null    object
 3   nombre    127 non-null    object
 4   club      127 non-null    object
 5   pais      127 non-null    object
 6   sex       127 non-null    object
 7   cat       127 non-null    object
 8   carrera   127 non-null    object
 9   anio      127 non-null    object
dtypes: object(10)
memory usage: 10.0+ KB

In [15]:
haria18.to_csv('../data/haria/haria18mod.csv', index='False', index_label=False)   #cargamos el csv

In [16]:
haria18.head()

,posicion,tiempo,dif,nombre,club,pais,sex,cat,carrera,anio
0,1,08:48:46,00:00:00,David LUTZARDO,N/D,España,M,SENIOR,haria,2018
1,2,09:27:01,00:00:00,Matthew HART,N/D,Reino Unido,M,VET-A,haria,2018
2,3,09:31:13,00:00:00,Gilles KLIPFEL,N/D,Francia,M,SENIOR,haria,2018
3,4,09:32:24,00:00:00,Gemma ARENAS,N/D,España,F,SENIOR,haria,2018
4,5,09:35:16,00:00:00,Carlos Enrique VIERA CABALLO,N/D,España,M,SENIOR,haria,2018

#haria19

In [17]:
out_file = io.StringIO()

with open('../data/haria/haria2019.csv', encoding='utf8') as file:
    out_file.write(file.read().replace('""', '|').replace('"', ""))

out_file.seek(0)

haria19 = pd.read_csv(out_file, delimiter = ',', quotechar='|')

In [18]:
haria19.head()
columns=['posicion','dorsal','nombre','unnamed1','club','sex','cat','tp1','tp2','tp3','tp4','tp5','tp6','tiempo','otros','otros2']
haria19.set_axis(columns, axis='columns',inplace=True)    #Modificamos el nombre de columnas

haria19.drop(['unnamed1','otros','otros2','tp1','tp2','tp3','tp4','tp5','tp6'],axis='columns',inplace=True)     #Eliminamos las que no queremos
haria19=haria19.reindex(columns=['posicion', 'tiempo','nombre', 'club', 'sex','cat'])   #las colocamos como queremos

In [19]:


#Nos salen valores extraños y las categorias no son como las que tenemos estipuladas. Al no tener otro indicador de edad los absolutos los modificamos a senior lo cual tiene sentido. Los veteranos a riesgo de falsificar la muestra los ponemos como veteranos A
#y al resto los ponemos como unkwnow 
#        ABS M', 'VET M', '5,40', 'VET F', '5,11', '5,10', '4,95', 'ABS F',
#       '4,72', '4,70', '4,69', '4,58', '4,54', '4,45', '4,42', '4,29',
#       '4,27', '4,17', '4,16', '4,05', '3,99', '3,98', '3,77', '3,70',
#       '3,62', '3,55', nan


#creamos una columna de categoria en base a los rangos de edad y la colocamos
haria19['cat']=haria19['cat']

for i in range(len(haria19.cat)):
    if haria19.cat[i]=='ABS M' or haria19.cat[i]=='ABS F':
        haria19.cat[i]='SENIOR'
    elif haria19.cat[i]=='VET M' or haria19.cat[i]=='VET F':
        haria19.cat[i]='VET-A'
    else:
        haria19.cat[i]='unkwnow'
        
    
    if haria19.posicion[i]=='-':  
        haria19.posicion[i]=999
    else:  
        num=str(haria19.posicion[i]).find('.')    
        haria19.posicion[i]=haria19.posicion[i][:num]
        
    if haria19.tiempo[i]=='Retirado':
        haria19.tiempo[i]='00:00:00'
        
    #Aprovechamos y normalizamos tb el sexo    
    if haria19.sex[i]=='Hombre':
        haria19.sex[i]='M'
    elif haria19.sex[i]=='Mujer':
        haria19.sex[i]='F'  
    
        

haria19.cat.unique()

array(['SENIOR', 'VET-A', 'unkwnow'], dtype=object)

In [20]:
#Normalizamos formato de campos de las columnas añadiendo la configuración final para todas las tablas



#Generamos las columnas restanetes
haria19['dif']=generador.dif(len(haria19))
haria19['pais']=generador.generador(len(haria19))
haria19['carrera']=generador.carrera(len(haria19),'haria')
haria19['anio']=generador.anio(len(haria19),'2019')

haria19=haria19.reindex(columns=['posicion','tiempo','dif','nombre','club','pais','sex','cat','carrera','anio']) #Reorganizamos

In [21]:
haria19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   posicion  159 non-null    object
 1   tiempo    159 non-null    object
 2   dif       159 non-null    object
 3   nombre    159 non-null    object
 4   club      159 non-null    object
 5   pais      159 non-null    object
 6   sex       159 non-null    object
 7   cat       159 non-null    object
 8   carrera   159 non-null    object
 9   anio      159 non-null    object
dtypes: object(10)
memory usage: 12.5+ KB

In [22]:
haria19.to_csv('../data/haria/haria19mod.csv', index='False', index_label=False)

In [23]:
haria=pd.concat([haria17,haria18,haria19])

In [24]:
haria.to_csv('../data/haria/haria_final.csv',index=False, index_label=False)