In [89]:
import pandas as pd
import numpy as np
import re
import io
import warnings
import generador
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
warnings.filterwarnings('ignore')

#Meridiano17

In [90]:
out_file = io.StringIO()

with open('../data/meridiano/meridano2017.csv', encoding='utf8') as file:
    out_file.write(file.read().replace('""', '|').replace('"', ""))

out_file.seek(0)

meridiano17 = pd.read_csv(out_file, delimiter = ',', quotechar='|')

In [91]:
meridiano17.drop(['0','1','2','3','4','6','7','12','14'],axis='columns',inplace=True)   #Eliminamos las columnas que no necesitamos

columns=['posicion','nombre','club','pos_sex','cat','tiempo','media','dif']
meridiano17.set_axis(columns,axis='columns',inplace=True)       #Modificamos el nombre de las columnas

In [92]:
##Enla columna categoria hay varios datos por lo que procedemos a trocerarla en 3, la propia de cat y la de sex y pto_cat. Para ello generamos un regex e iteramos
limpiar=meridiano17['cat']      #creamos una serie para iterarla y modificar datos
final=[]
final2=[]
cate=[]
for i in limpiar:
    i=i.upper()
    masc=re.findall('M$',i)
    fem=re.findall('F$',i)
    puesto=re.findall('^\d',i)
    cat1=re.findall('[A-Z]{3}',i)
    cat2=re.findall('[A-Z]{3}\-[A-Z]\d+',i)
    
    if puesto:
        final2.append("".join(puesto))
        
    if cat2:
        cate.append("".join(cat2))
    elif cat1:
        cate.append("".join(cat1))
        
    if masc:
        final.append("".join(masc))
    elif fem:
        final.append("".join(fem))
        
meridiano17['sex']=final
meridiano17['pto_cat']=final2
meridiano17['cat']=cate

In [93]:
meridiano17=meridiano17.reindex(columns=['posicion','tiempo','dif','nombre','club','sex','pos_sex','cat','pto_cat','media'])  #reordenamos las columnas

In [94]:
#creamos una columna de categoria en base a los rangos de edad y la colocamos
meridiano17['cat']=meridiano17['cat']

for i in range(len(meridiano17.cat)):
    if meridiano17.cat[i]=='SEN' or meridiano17.cat[i]=='JUN':
        meridiano17.cat[i]='SENIOR'
    elif meridiano17.cat[i]=='VET-M40':
        meridiano17.cat[i]='VET-A'
    elif meridiano17.cat[i]=='VET-M50':
        meridiano17.cat[i]='VET-B'
    else:
        meridiano17.cat[i]='VET-C'
        
        
#Quitamos los - de la columna club por 'N/D'
    if meridiano17.club[i]=='-':
        meridiano17.club[i]='N/D'         

meridiano17.cat.unique()

array(['SENIOR', 'VET-A', 'VET-B', 'VET-C'], dtype=object)

In [95]:
#Normalizamos formato de campos de las columnas añadiendo la configuración final para todas las tablas

meridiano17.drop(['pos_sex','pto_cat','media'],axis='columns',inplace=True) #damos de baja columnas

#Generamos las columnas restanetes
meridiano17['pais']=generador.generador(len(meridiano17))
meridiano17['carrera']=generador.carrera(len(meridiano17),'meridiano')
meridiano17['anio']=generador.anio(len(meridiano17),'2017')

meridiano17=meridiano17.reindex(columns=['posicion','tiempo','dif','nombre','club','pais','sex','cat','carrera','anio']) #Reorganizamos

In [96]:
meridiano17.to_csv('../data/meridiano/meridano2017mod.csv', index=False, index_label=False)

#Meridiano18

In [97]:
out_file = io.StringIO()

with open('../data/meridiano/meridano2018.csv', encoding='utf8') as file:
    out_file.write(file.read().replace('""', '|').replace('"', ""))

out_file.seek(0)

meridiano18 = pd.read_csv(out_file, delimiter = ',', quotechar='|')

In [98]:
meridiano18.drop(['0','1','2','3','4','6','7','12','14'],axis='columns',inplace=True)       #Eliminamos las columnas que no necesitamos
columns=['posicion','nombre','club','pos_sex','cat','tiempo','media','dif']
meridiano18.set_axis(columns,axis='columns',inplace=True)       #Cambiamos los nombres de las columnas


##Enla columna categoria hay varios datos por lo que procedemos a trocerarla en 3, la propia de cat y la de sex y pto_cat. Para ello generamos un regex e iteramos
limpiar=meridiano18['cat']      #creamos una serie para iterarla y modificar datos
final=[]
final2=[]
cate=[]
for i in limpiar:
    i=i.upper()
    masc=re.findall('M$',i)
    fem=re.findall('F$',i)
    puesto=re.findall('^\d',i)
    cat1=re.findall('[A-Z]{3}',i)
    cat2=re.findall('[A-Z]{3}\-[A-Z]\d+',i)
    
    if puesto:
        final2.append("".join(puesto))
        
    if cat2:
        cate.append("".join(cat2))
    elif cat1:
        cate.append("".join(cat1))
        
    if masc:
        final.append("".join(masc))
    elif fem:
        final.append("".join(fem))
        
meridiano18['sex']=final
meridiano18['pto_cat']=final2
meridiano18['cat']=cate

meridiano18=meridiano18.reindex(columns=['posicion','tiempo','dif','nombre','club','sex','pos_sex','cat','pto_cat','media'])    #reordenamos las columnas

In [99]:
#Para nomalizar el dato de los clubs lo pasamos a mayuscula
for i in range(len(meridiano18.club)):
    meridiano18.club[i]=str(meridiano18.club[i].upper())

In [100]:
#creamos una columna de categoria en base a los rangos de edad y la colocamos
meridiano18['cat']=meridiano18['cat']

for i in range(len(meridiano18.cat)):
    if meridiano18.cat[i]=='SEN' or meridiano18.cat[i]=='JUN':
        meridiano18.cat[i]='SENIOR'
    elif meridiano18.cat[i]=='VET-M40':
        meridiano18.cat[i]='VET-A'
    elif meridiano18.cat[i]=='VET-M50':
        meridiano18.cat[i]='VET-B'
    else:
        meridiano18.cat[i]='VET-C'
        
    #Quitamos los - de la columna club por 'N/D'
    if meridiano18.club[i]=='-':
        meridiano18.club[i]='N/D'   
        

meridiano18.cat.unique()

array(['SENIOR', 'VET-A', 'VET-B', 'VET-C'], dtype=object)

In [101]:
meridiano18.head()

,posicion,tiempo,dif,nombre,club,sex,pos_sex,cat,pto_cat,media
0,1,03:41:18,00:00:00,Stian ARGERMUND-VIK,N/D,M,1,SENIOR,1,05:16
1,2,03:51:23,00:10:04,Efren SEGUNDO QUESADA,N/D,M,2,SENIOR,2,05:30
2,3,03:51:24,00:10:05,Cristofer CLEMENTE MORA,N/D,M,3,SENIOR,3,05:30
3,4,03:57:30,00:16:11,Zaid AT MALEK,N/D,M,4,SENIOR,4,05:39
4,5,04:10:38,00:29:20,Yeray DURÁN LÓPEZ,N/D,M,5,VET-A,1,05:58

In [102]:
#Normalizamos formato de campos de las columnas añadiendo la configuración final para todas las tablas

meridiano18.drop(['pos_sex','pto_cat','media'],axis='columns',inplace=True) #damos de baja columnas

#Generamos las columnas restanetes
meridiano18['pais']=generador.generador(len(meridiano18))
meridiano18['carrera']=generador.carrera(len(meridiano18),'meridiano')
meridiano18['anio']=generador.anio(len(meridiano18),'2018')

meridiano18=meridiano18.reindex(columns=['posicion','tiempo','dif','nombre','club','pais','sex','cat','carrera','anio']) #Reorganizamos

In [103]:
meridiano18.to_csv('../data/meridiano/meridano2018mod.csv', index=False, index_label=False)  #Cargamos el csv

#Meridiano19

In [104]:
out_file = io.StringIO()

with open('../data/meridiano/meridano2019.csv', encoding='utf8') as file:
    out_file.write(file.read().replace('""', '|').replace('"', ""))

out_file.seek(0)

meridiano19 = pd.read_csv(out_file, on_bad_lines='skip',delimiter = ',', quotechar='|')

In [105]:
meridiano19.drop(['0','1','2','3','4','6','7','12','14'],axis='columns',inplace=True)       #Damos de baja las columnas que no queremos

columns=['posicion','nombre','club','pos_sex','cat','tiempo','media','dif']
meridiano19.set_axis(columns,axis='columns',inplace=True)       #Modificamos los nombres de las columnas

##Enla columna categoria hay varios datos por lo que procedemos a trocerarla en 3, la propia de cat y la de sex y pto_cat. Para ello generamos un regex e iteramos
limpiar=meridiano19['cat']      #creamos una serie para iterarla y modificar datos
final=[]
final2=[]
cate=[]
for i in limpiar:
    i=i.upper()
    masc=re.findall('M$',i)
    fem=re.findall('F$',i)
    puesto=re.findall('^\d',i)
    cat1=re.findall('[A-Z]{3}',i)
    cat2=re.findall('[A-Z]{3}\-[A-Z]\d+',i)
    
    if puesto:
        final2.append("".join(puesto))
        
    if cat2:
        cate.append("".join(cat2))
    elif cat1:
        cate.append("".join(cat1))
        
    if masc:
        final.append("".join(masc))
    elif fem:
        final.append("".join(fem))
        
meridiano19['sex']=final
meridiano19['pto_cat']=final2
meridiano19['cat']=cate

meridiano19=meridiano19.reindex(columns=['posicion','tiempo','dif','nombre','club','sex','pos_sex','cat','pto_cat','media'])  #Reordenamos las columnas

In [106]:
#Para nomalizar el dato de los clubs lo pasamos a mayuscula
for i in range(len(meridiano19.club)):
    meridiano19.club[i]=str(meridiano19.club[i].upper())

In [107]:
#creamos una columna de categoria en base a los rangos de edad y la colocamos
meridiano19['cat']=meridiano19['cat']

for i in range(len(meridiano19.cat)):
    if meridiano19.cat[i]=='SEN' or meridiano19.cat[i]=='JUN':
        meridiano19.cat[i]='SENIOR'
    elif meridiano19.cat[i]=='VET-M40':
        meridiano19.cat[i]='VET-A'
    elif meridiano19.cat[i]=='VET-M50':
        meridiano19.cat[i]='VET-B'
    else:
        meridiano19.cat[i]='VET-C'
        
    #Quitamos los - de la columna club por 'N/D'
    if meridiano19.club[i]=='-':
        meridiano19.club[i]='N/D'   
        

meridiano19.cat.unique()

array(['SENIOR', 'VET-A', 'VET-B', 'VET-C'], dtype=object)

In [108]:
#Normalizamos formato de campos de las columnas añadiendo la configuración final para todas las tablas

meridiano19.drop(['pos_sex','pto_cat','media'],axis='columns',inplace=True) #damos de baja columnas

#Generamos las columnas restanetes
meridiano19['pais']=generador.generador(len(meridiano19))
meridiano19['carrera']=generador.carrera(len(meridiano19),'meridiano')
meridiano19['anio']=generador.anio(len(meridiano19),'2019')

meridiano19=meridiano19.reindex(columns=['posicion','tiempo','dif','nombre','club','pais','sex','cat','carrera','anio']) #Reorganizamos

In [109]:
meridiano19.to_csv('../data/meridiano/meridano2019mod.csv', index=False, index_label=False)        #Cargamos el csv

#Meridiano20

In [110]:
out_file = io.StringIO()

with open('../data/meridiano/meridano2020.csv', encoding='utf8') as file:
    out_file.write(file.read().replace('""', '|').replace('"', ""))

out_file.seek(0)

meridiano20 = pd.read_csv(out_file, on_bad_lines='skip',delimiter = ',', quotechar='|')

In [111]:
meridiano20.drop(['0','1','2','3','4','6','7','12','14'],axis='columns',inplace=True)       #Damos de baja las columnas que no queremos
columns=['posicion','nombre','club','pos_sex','cat','tiempo','media','dif']
meridiano20.set_axis(columns,axis='columns',inplace=True)       #Modificamos los nombres de las columnas


##Enla columna categoria hay varios datos por lo que procedemos a trocerarla en 3, la propia de cat y la de sex y pto_cat. Para ello generamos un regex e iteramos
limpiar=meridiano20['cat']#creamos una serie para iterarla y modificar datos
final=[]
final2=[]
cate=[]
for i in limpiar:
    i=i.upper()
    masc=re.findall('M$',i)
    fem=re.findall('F$',i)
    puesto=re.findall('^\d',i)
    cat1=re.findall('[A-Z]{3}',i)
    cat2=re.findall('[A-Z]{3}\-[A-Z]\d+',i)
    
    if puesto:
        final2.append("".join(puesto))
        
    if cat2:
        cate.append("".join(cat2))
    elif cat1:
        cate.append("".join(cat1))
        
    if masc:
        final.append("".join(masc))
    elif fem:
        final.append("".join(fem))
        
meridiano20['sex']=final
meridiano20['pto_cat']=final2
meridiano20['cat']=cate

meridiano20=meridiano20.reindex(columns=['posicion','tiempo','dif','nombre','club','sex','pos_sex','cat','pto_cat','media'])  #Reordenamos las columnas

In [112]:
#Para nomalizar el dato de los clubs lo pasamos a mayuscula
for i in range(len(meridiano20.club)):
    meridiano20.club[i]=str(meridiano20.club[i].upper())

In [113]:
#creamos una columna de categoria en base a los rangos de edad y la colocamos
meridiano20['cat']=meridiano20['cat']

for i in range(len(meridiano20.cat)):
    if meridiano20.cat[i]=='SEN' or meridiano20.cat[i]=='JUN':
        meridiano20.cat[i]='SENIOR'
    elif meridiano20.cat[i]=='VET-M40':
        meridiano20.cat[i]='VET-A'
    elif meridiano20.cat[i]=='VET-M50':
        meridiano20.cat[i]='VET-B'
    else:
        meridiano20.cat[i]='VET-C'
        
        
    #Quitamos los - de la columna club por 'N/D'
    if meridiano20.club[i]=='-':
        meridiano20.club[i]='N/D'   
        

meridiano20.cat.unique()

array(['SENIOR', 'VET-A', 'VET-B', 'VET-C'], dtype=object)

In [114]:
#Normalizamos formato de campos de las columnas añadiendo la configuración final para todas las tablas

meridiano20.drop(['pos_sex','pto_cat','media'],axis='columns',inplace=True) #damos de baja columnas

#Generamos las columnas restanetes
meridiano20['pais']=generador.generador(len(meridiano20))
meridiano20['carrera']=generador.carrera(len(meridiano20),'meridiano')
meridiano20['anio']=generador.anio(len(meridiano20),'2020')

meridiano20=meridiano20.reindex(columns=['posicion','tiempo','dif','nombre','club','pais','sex','cat','carrera','anio']) #Reorganizamos

In [115]:
meridiano20.to_csv('../data/meridiano/meridano2020mod.csv', index=False, index_label=False)        #Cargamos el csv

In [116]:
meridiano=pd.concat([meridiano17,meridiano18,meridiano19,meridiano20])

In [117]:
meridiano.to_csv('../data/meridiano/meridiano.csv', index=False,index_label=False)